
@font-face {
    font-family: 'SVN-Gliroy';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/Gilroyz_Medium.otf') format("opentype");
}

@font-face {
  font-family: 'SVN-Gliroy';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/Gilroyz_Bold.otf') format("opentype");
}